*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 30px 0 10px;
    font-size: 22px;
    color: rgb(87, 87, 87);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/*-----------------------------------naviguation--------------------------------------------*/

nav ul {
    list-style: none;
    display: flex;
    position: fixed;
    width: 45%;
    height: 40px;
    right: 1%;
    backdrop-filter: blur(10px);
    animation: appearance2 3s;
}

.slide-link {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    font-size: 24px;
    border: none;
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    color: rgb(140, 94, 7);
    padding-top: 10px;
    font-weight: bold;
}

/*--animation nav-------*/

li a:hover {
    color: rgb(92, 15, 163);
    padding-bottom: 10px;
}

.slide-link:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(92, 15, 163);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out 0.1s;
}

.slide-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

/*-------bouton light/dark theme----*/

#theme {
    color: rgb(140, 94, 7);
    padding-top: 8px;
}

#theme:hover {
    color: rgb(92, 15, 163);
}

/*--------------------------------Hero-Section----------------------------------------------*/

#hero {
    width: 100%;
    height: 820px;
}

#hero .half-width {
    width: 43%;
    height: 750px;
    float: left;
    margin: 20px 0 0 2%;
    padding: 0 2% 0 2%;
}

h1 {
    font-size: 80px;
    margin-top: 45px;
    animation: appearance;
    animation-duration: 1s;
}

@keyframes appearance {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.gold {
    color: rgb(140, 94, 7);
}

.title {
    font-size: 60px;
    margin-top: 20px;
}

.job {
    font-size: 40px;
    margin-top: 40px;
}

.title {
    animation: appearance 1s;
}

.skill-text {
    text-align: justify;
    color: rgb(140, 94, 7);
    margin: 30px 0 0px 0;
}

/*----------image-----------*/

.half-width img {
    position: relative;
    right: 70px;
    margin-top: 150px;
    margin-right: 150px;
    animation: appearance2 2s;
}

@keyframes appearance2 {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

/*---bouton CV-----*/

#CV1 {
    width: 60%;
    height: 65px;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    border-radius: 50px;
    margin-top: 20px;
}

#CV1:hover {
    color: rgb(92, 15, 163);
    background: linear-gradient(45deg, tomato, lightsalmon);
    animation: rotate 2s 1;
}

.up {
    animation: appearance 2.5s;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/*--------bouton email-------*/

#mail {
    width: 60%;
    height: 65px;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    border-radius: 50px;
    margin-top: 20px;
}

#mail:hover {
    color: rgb(92, 15, 163);
    background: linear-gradient(45deg, tomato, lightsalmon);
    animation: rotate 2s;
}

/*-------------------------------------Présentation----------------------------------------------*/
#presentation {
    height: 500px;
    width: 100%;
}

#presentation .half-width {
    width: 40%;
    height: 450px;
    float: left;
    margin: 50px 0 0 100px;
    justify-content: space-between;
}

.presentation-title {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.text {
    text-align: center;
    color: rgb(140, 94, 7);
    overflow: hidden;
    /* cache le contenu non animé */
    /*border-right: .15em solid orange;*/
    /* ajoute un effet de curseur */
    /*font-size: 28px;*/
    /* ajustez la taille de la police selon vos besoins */
    /*white-space: nowrap;*/
    /* empêche le texte de se répartir sur plusieurs lignes */
    /*letter-spacing: .15em;*/
    /* ajoute un espacement entre les lettres */
    animation: typing 5s steps(40, end),
        /* anime le texte */
        lines 5s forwards;
    /* anime les lignes */
}

/*@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}*/

@keyframes lines {
    from {
        height: 0
    }

    to {
        height: 100%
    }
}

/*----------------------------------------Hard-Skills--------------------------------------*/

.skills {
    width: 100%;
    height: 300px;
    margin-left: 30px;
}

#skills_main_title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 200px;
    justify-content: space-between;
    margin: 0 0 0 0;
}

.skill-title {
    display: flex;
    justify-content: center;
    width: 120px;
    margin-top: 10px;
}

.skill {
    width: 8%;
    height: 60px;
}

/*------------------------------Réalisations-----------------------------------------------------*/

.networking-title {
    margin: 10px 0 30px 0px;
    font-weight: bold;
}

#networking {
    width: 100%;
    height: 900px;
    margin: 40px 0 0 2%;
    padding: 30px 2% 0 4%;
}

.networking-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 32%;
    height: 310px;
    border: 7px solid;
    border-radius: 50px;
    margin-bottom: 20px;
    animation: focus 2s;
}

.project-img img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card-legend {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-size: 26px;
    margin: 20px 0 0 20px;
    color: rgb(140, 94, 7);
}

.card-icons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transform: scale(0.7);
}

.card-link {
    margin-right: 15px;
}

.project-description {
    display: flex;
    text-align: left;
    font-size: 24px;
    margin: 20px 0 0 20px;
}

@keyframes focus {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/*----------------bannière--------CV------------------------------------------*/

#CV2 {
    width: 105%;
    height: 300px;
    font-size: 35px;
    font-weight: 700;
    background-image: url('images/gold.jpg');
    background-size: 40%;
}

.banner-CV {
    width: 100%;
    height: 300px;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(40, 39, 39);
}

.CV2 {
    display: flex;
    justify-content: center;
}

.banner-CV:hover {
    color: rgb(255, 255, 255);
    background-image: url('images/screen3.jpg');
    transform: scale(1.2);
    font-size: 60px;
}

/*-----------------------formulaire de contact-------------------------------------------------*/

#contact {
    width: 100%;
    height: 700px;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    box-shadow: 0 0 10px #999;
}

.contact-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 50px 0 30px 50px;
    padding-top: 50px;
}

.contact-me {
    margin-bottom: 20px;
}

.form-group {
    margin: 20px 0 0 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #ccc;
    font-size: 22px;
    color: black;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 120px;
}

.btn-submit {
    border: none;
    border-radius: 50px;
    width: 160px;
    height: 45px;
    background-color: #fff;
    padding-left: 5px;
    margin-left: 280px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

/*.form-btn {
    width: 160px;
    height: 45px;
    background-color: rgb(140, 94, 7);
    padding: 10px 20px;
    margin: 30px 0 0 315px;
    border: none;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
}*/

.btn-submit:hover {
    color: rgb(140, 94, 7);
    background-color: black;
}

/*----------message-erreur--------*/

.error-msg {
    display: none;
    font-size: 18px;
    font-weight: bold;
    color: red;
}

input:invalid+.error-msg,
textarea:invalid+.error-msg {
    display: block;
}

/*-------------------------------------bouton-scroll-up-------------------------------------------*/

#scrollup-btn {
    display: flex;
    position: relative;
    bottom: 20px;
    left: 10px;
    cursor: pointer;
    border: none;
    transform: scale(1.5);
}

/*--------------------------------En_cours de-construction------------------------------------------*/

.construction {
    width: 110%;
    height: 95px;
    background-color: red;
    font-size: 50px;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*--------------------------------Footer-------------------------------------------------------*/

footer {
    /*margin-top: 50px;*/
    width: 100%;
    /*height: 50px;*/
    text-align: center;
}


/*--------------------------------RESPONSIVE------------------------------------------------------*/

/*@media screen and (max-width: 920px) {
    
    }
  }*/